@{
    ViewData["Title"] = "Home Page";
}

<!--model expression specifies that the view expects to recieve a sequence of Product objects from the
    action method as its model data-->
@*@model IQueryable<Product>*@
@using SportsStore.Models.ViewModels
@model ProductsListViewModel

<div class="text-center">        
    @foreach (var p in Model.Products)
    {   
        <partial name="ProductSummary" model="p" />
    }

    <!--When Razor finds the page-model attribute on the div element it asks
        the PageLinkTagHelper class to transform the element, which produces the
        set of links-->
    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-outline-dark"
         page-class-selected ="btn-primary" class="btn-group pull-right m-1">
    </div>
</div>
